.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1px solid lightgray;
  background-color: white;
  padding: 10px 0;
  width: 100%;
  position: sticky;
  z-index: 999;
}

.header__left {
  display: flex;
  align-items: center;
}

.linkedin__logo {
  text-decoration: none;
  height: 2rem;
  margin-right: 10px;
}

.linkedin__logo > img {
  object-fit: contain;
  height: 100%;
}

.header__search {
  padding: 0 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: gray;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
  display: none;
}

.header__right {
  display: flex;
  align-items: center;
}

#logout {
  background-color: transparent;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-evenly;
    gap: 6%;
  }
}

@media screen and (min-width: 1020px) {
  .header__search > input {
    display: block;
  }
  .header__search {
    background-color: #eef3f8;
  }
}
